html,
body {
  font-family: 'Noto Sans KR', sans-serif;
  color: #111;
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
}

i {
  margin-right: 10px;
}

ul {
  list-style: none;
}

ol {
  padding-left: 25px;
  margin: 15px 0;
}

li {
  margin: 5px 0;
  padding: 5px 0;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  width: calc(100% - 30px);
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  font-size: 55px;
  margin: 30px 0;
}

h2 {
  font-size: 45px;
  padding: 10px 8px;
  background-color: #111;
  color: #fff;
  border-radius: 1px;
  margin-top: 60px;
}

h3 {
  font-size: 30px;
  padding: 8px;
  color: darkslateblue;
  background-color: #eee;
  border-radius: 1px;
  margin: 30px 0 20px 0;
}

h4 {
  font-size: 23px;
  margin: 25px 0 15px 0;
}

p {
  line-height: 1.5;
  margin: 15px 0;
}

.intro {
  font-size: 22px;
  margin-bottom: 40px;
}

.contact {
  border: 1px dashed #aaa;
  padding: 10px;
  border-radius: 5px;
}

.contact > li:hover {
  background-color: #eee;
}

.desc {
  color: #777;
  font-size: 85%;
}

.skills {
  margin: 20px 0;
}

.skills > span {
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #ccc;
  color: darkslateblue;
  border-radius: 15px;
  padding: 5px 10px;
}

.whatIdid {
  padding-left: 25px;
  list-style: square;
  margin: 15px 0;
}

.whatIdid a:hover {
  text-decoration: underline;
}
.project_info {
  color: #999;
  text-decoration: underline;
}
