html,
body {
  font-size: 62.5%;
  font-family: 'Noto Sans KR', sans-serif;
  color: #111;
}

* {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
}

i {
  margin-right: 10px;
}

.fa-github {
  display: inline;
}

ul {
  list-style: none;
}

ol {
  padding-left: 25px;
  margin: 15px 0;
}

li {
  padding: 5px 0;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  width: calc(100% - 30px);
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  font-size: 4.5rem;
  margin: 20px 0;
}

h2 {
  font-size: 3rem;
  padding: 10px 8px;
  background-color: #111;
  color: #fff;
  border-radius: 1px;
  margin-top: 30px;
}

h3 {
  font-size: 2rem;
  padding: 8px;
  color: darkslateblue;
  background-color: #eee;
  border-radius: 1px;
  margin: 15px 0 20px 0;
}

h4 {
  line-height: 1.5;
}

p {
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

hr {
  border: 0.5px solid #eee;
  margin-bottom: 2rem;
}

.column_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.left {
  width: 55%;
}

.right {
  width: calc(45% - 2rem);
}

.contact {
  border: 1px dashed #aaa;
  padding: 10px;
  border-radius: 5px;
}

.contact > li:hover {
  background-color: #eee;
}

.skills {
  margin: 20px 0;
}

.skills > span {
  font-size: 1.4rem;
  background-color: #fff;
  border: 1px solid #ccc;
  color: darkslateblue;
  border-radius: 15px;
  padding: 5px 10px;
}

.whatIdid {
  line-height: 1.5;
  padding-left: 25px;
  list-style: square;
  margin: 15px 0;
}

.sublist {
  list-style: circle;
  padding-left: 1em;
}

.info {
  color: #888;
}

.links {
  margin-bottom: 2rem;
}

.links > li {
  padding: 0;
  margin: 5px 0;
}

.links a {
  text-decoration: underline;
  overflow-wrap: break-word;
}

@media all and (max-width: 425px) {
  .column_container {
    flex-direction: column;
    gap: 0;
  }

  .left,
  .right {
    width: 100%;
  }
}
